{% extends "index.html" %}

{% block content %}
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container navbar-right">
            <a class="navbar-brand" href="{{ url_for('index') }}">HIVE</a>
            <ul class="navbar-right">
                {% if session.user %}
                <a class="btn btn-primary" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                <a class="btn btn-primary" href="{{ url_for('add_task') }}">Add Task</a>
                {% else %}
                <a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
                <a class="btn btn-primary" href="{{ url_for('login') }}">Log In</a>
                <a class="btn btn-primary" href="{{ url_for('info') }}">Learn More</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="card shadow-lg border-0 rounded-lg mt-5 mb-4">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form method="POST" action="{{ url_for('register') }}" class="was-validated mb-3 needs-validation">
                                        <div class="row mb-3 p-3">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" name="uname" value="" placeholder="Username" minlength="1"
                                                maxlength="15" pattern="^[a-zA-Z0-9]{1,15}$" required/>                                              
                                            </div>
                                            <div class="col-md-4">                                              
                                                <input class="form-control" type="text" name="inputFirstName" value="" placeholder="First Name" minlength="1"
                                                maxlength="15" pattern="^[a-zA-Z0-9]{1,15}$" required/>
                                            </div>
                                            <div class="col-md-4">                                             
                                                <input class="form-control" type="text" name="inputLastName" value="" placeholder="Last Name" minlength="1"
                                                maxlength="15" pattern="^[a-zA-Z0-9-']{1,15}$" required/>
                                            </div>
                                        </div>
                                        <div class="row mb-3 p-3">
                                            <div class="col-md-6">                                               
                                                <input class="form-control" type="email" name="inputEmail" value="" placeholder="Email" minlength="1"
                                                maxlength="30" required/>
                                            </div>
                                            <div class="col-md-6">                                               
                                                <input class="form-control" type="password" name="inputPassword" value="" placeholder="Password" minlength="5"
                                                maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 p-3">
                                                <input class="form-control" type="text" name="inputAddress" value="" placeholder="Address" minlength="1"
                                                maxlength="50" pattern="^[a-zA-Z0-9- ]{1,50}$" required/>
                                        </div>
                                        <div class="row mb-3 p-3">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" name="inputCity" value="" placeholder="City" minlength="1"
                                                maxlength="20" pattern="^[a-zA-Z0-9- ]{1,20}$" required/>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" name="inputCountry" value="" placeholder="Country" minlength="1"
                                                maxlength="20" pattern="^[a-zA-Z0-9- ]{1,20}$" required/>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" name="postCode" value="" placeholder="Post Code" minlength="1"
                                                maxlength="15" pattern="^[a-zA-Z0-9- ]{1,15}$" required/>
                                            </div>
                                        </div>
                                        <div class="form-check form-switch m-3">
                                            <input class="form-check-input" type="checkbox" id="is_admin" name="is_admin">
                                            <label class="form-check-label" for="is_admin">Are you an Admin?</label>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="{{ url_for('login') }}">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer class="footer bottom bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; HIVE 2021. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}